<a href="https://colab.research.google.com/github/shanmukh2325/Shanmukha_INFO5731_-Fall2023/blob/main/Bollavram_Shanmukha_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import random

# Generate 12 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(12)]

# Sort the list in ascending order
ascending_sorted = sorted(random_numbers)

# Sort the list in descending order
descending_sorted = sorted(random_numbers, reverse=True)

# Calculate the average
average = sum(random_numbers) / len(random_numbers)

# Print the results
print("Random Numbers:", random_numbers)
print("Ascending Sorted:", ascending_sorted)
print("Descending Sorted:", descending_sorted)
print("Average:", average)

Random Numbers: [28, 16, 54, 58, 92, 43, 68, 24, 58, 13, 70, 84]
Ascending Sorted: [13, 16, 24, 28, 43, 54, 58, 58, 68, 70, 84, 92]
Descending Sorted: [92, 84, 70, 68, 58, 58, 54, 43, 28, 24, 16, 13]
Average: 50.666666666666664

# Question 2
(25 points).

Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
# Your code here

import string

# Function to split a sentence into words while preserving punctuation
def split_sentence(sentence):
    words = []
    current_word = ''

    for char in sentence:
        if char.isalnum() or char in string.punctuation:
            current_word += char
        else:
            if current_word:
                words.append(current_word)
            current_word = ''

    if current_word:
        words.append(current_word)

    return words

# Function to count vowels in a sentence
def count_vowels(sentence):
    vowels = "aeiouAEIOU"
    vowel_count = {vowel: 0 for vowel in vowels}

    for char in sentence:
        if char in vowels:
            vowel_count[char.lower()] += 1

    return vowel_count

# Ask the user to enter two sentences
sentence1 = input("Enter the first sentence: ")
sentence2 = input("Enter the second sentence: ")

# Make each sentence into a list of words
words1 = split_sentence(sentence1)
words2 = split_sentence(sentence2)

# Compare the two sentences and find common words
common_words = list(set(words1) & set(words2))

# Remove punctuation from the sentences
sentence1_no_punctuation = ''.join([char for char in sentence1 if char not in string.punctuation])
sentence2_no_punctuation = ''.join([char for char in sentence2 if char not in string.punctuation])

# Count the number of vowels in the sentences
vowel_count1 = count_vowels(sentence1)
vowel_count2 = count_vowels(sentence2)

# Print the results
print("\nWords in the first sentence:", words1)
print("Words in the second sentence:", words2)
print("Common words in both sentences:", common_words)
print("\nFirst sentence without punctuation:", sentence1_no_punctuation)
print("Second sentence without punctuation:", sentence2_no_punctuation)
print("\nVowel counts in the first sentence:", vowel_count1)
print("Vowel counts in the second sentence:", vowel_count2)

Enter the first sentence: have you eaten ?
Enter the second sentence: no i have not

Words in the first sentence: ['have', 'you', 'eaten', '?']
Words in the second sentence: ['no', 'i', 'have', 'not']
Common words in both sentences: ['have']

First sentence without punctuation: have you eaten
Second sentence without punctuation: no i have not

Vowel counts in the first sentence: {'a': 2, 'e': 3, 'i': 0, 'o': 1, 'u': 1, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}
Vowel counts in the second sentence: {'a': 1, 'e': 1, 'i': 1, 'o': 2, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

# Question 3

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [3]:
# Your code here
import math

# Function to calculate the volume of a sphere for a given radius
def calculate_volume(radius):
    return (4/3) * math.pi * radius**3

# Print the table header
print("r    V")

# Calculate and print the volume for each radius in the range 1-10
for radius in range(1, 11):
    volume = calculate_volume(radius)
    print(f"{radius}    {volume:.2f}")

r    V
1    4.19
2    33.51
3    113.10
4    268.08
5    523.60
6    904.78
7    1436.76
8    2144.66
9    3053.63
10    4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
import pandas as pd

# Load and display the data from the CSV file
data = pd.read_csv('Assignment1_denton_housing.csv')
print(data)

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [ ]:
import pandas as pd

# Load the data from the CSV file
data = pd.read_csv('Assignment1_denton_housing.csv')

# Filter rows with the 'title_field' column equal to 'Occupied Housing Units'
occupied_units_data = data[data['title_field'] == 'Occupied Housing Units']

# Calculate the difference in Occupied Housing Units from year to year
occupied_units_data['difference'] = occupied_units_data['value'].diff()

# Create a new DataFrame to store the year ranges and differences
result_df = pd.DataFrame({
    'Year Range': occupied_units_data['year'].astype(str) + '-' + occupied_units_data['year'].shift(-1).astype(str),
    'Difference in Occupied Housing Units': occupied_units_data['difference']
})

# Sort the DataFrame by differences in ascending order
result_df = result_df.sort_values(by='Difference in Occupied Housing Units')

# Print the sorted results
print(result_df)

  Year Range  Difference in Occupied Housing Units
0  2008-2009                                -795.0
2  2010-2011                                -303.0
3  2011-2012                                1404.0
4  2012-2013                                1565.0
5  2013-2014                                2622.0
1  2009-2010                                5091.0

In [ ]:
import pandas as pd

# Load the data from the CSV file
data = pd.read_csv('Assignment1_denton_housing.csv')

# Filter rows for 'Vacant Housing Units' and 'Occupied Housing Units'
vacant_data = data[data['title_field'] == 'Vacant Housing Units']
occupied_data = data[data['title_field'] == 'Occupied Housing Units']

# Calculate the total housing units for each year
total_housing_units = vacant_data['value'] + occupied_data['value']

# Calculate the percentage of vacant and occupied housing units
percentage_vacant = (vacant_data['value'] / total_housing_units) * 100
percentage_occupied = (occupied_data['value'] / total_housing_units) * 100

# Create a DataFrame to store the results
result_df = pd.DataFrame({
    'Year': vacant_data['year'],
    'Percentage Vacant': percentage_vacant,
    'Percentage Occupied': percentage_occupied
})

# Print the results in the specified format
print("Year | Vacant Housing Units | Occupied Housing Units")
print("-" * 50)

# Iterate through the years and print the data
for year in range(2008, 2015):
    if year in result_df['Year'].tolist():
        row = result_df[result_df['Year'] == year].iloc[0]
        print(f"{year} | {row['Percentage Vacant']:.2f}% | {row['Percentage Occupied']:.2f}%")
    else:
        print(f"{year} | ----- | -----")

Year | Vacant Housing Units | Occupied Housing Units
--------------------------------------------------
2008 | 10.88% | 89.12%
2009 | 9.07% | 90.93%
2010 | 8.14% | 91.86%
2011 | 9.38% | 90.62%
2012 | 6.68% | 93.32%
2013 | 8.80% | 91.20%
2014 | 5.73% | 94.27%

In [ ]:
import pandas as pd

# Load the data from the CSV file
data = pd.read_csv('Assignment1_denton_housing.csv')

# Filter rows for 'Vacant Housing Units' and 'Occupied Housing Units'
vacant_data = data[data['title_field'] == 'Vacant Housing Units']
occupied_data = data[data['title_field'] == 'Occupied Housing Units']

# Find the year and value with the highest number of vacant housing units
max_vacant_unit_year = vacant_data.loc[vacant_data['value'].idxmax(), 'year']
max_vacant_unit_value = vacant_data['value'].max()

# Find the year and value with the highest number of occupied housing units
max_occupied_unit_year = occupied_data.loc[occupied_data['value'].idxmax(), 'year']
max_occupied_unit_value = occupied_data['value'].max()

# Print the results in the specified format
print("Year |    Value")
print("-" * 15)
print(f"Vacant Housing Units   |  {max_vacant_unit_year}   |  {max_vacant_unit_value}")
print(f"Occupied Housing Units |  {max_occupied_unit_year}   |  {max_occupied_unit_value}")

Year |    Value
---------------
Vacant Housing Units   |  2008   |  4483
Occupied Housing Units |  2014   |  46295

In [ ]:
pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.11.2)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.23.5)

In [ ]:


import pandas as pd
import scipy.stats as stats

# Load the data from the CSV file
data = pd.read_csv('Assignment1_denton_housing.csv')

# Filter rows for 'Total Housing Units'
total_housing_data = data[data['title_field'] == 'Total Housing Units']

# Calculate the harmonic mean
harmonic_mean = stats.hmean(total_housing_data['value'].astype(float))

# Print the harmonic mean
print("Harmonic Mean of Total Housing Units:", harmonic_mean)

Harmonic Mean of Total Housing Units: 44398.28543969185